<div class="trip-show-container">
  <div class="trip-title d-flex justify-content-center flex-column my-trip-head">
    <h4 class="my-trip-title"> My Trips </h4>
  </div>
    <% if @user_trips.empty? %>
      <div class="trip-none">
        <p>You have no trips planned<p>
        <p>Let's change that...</p>
        <%= link_to "Plan New Trip", root_path, class: "btn btn-warning" %>
      </div>
    <% end %>
      <% counter = 0 %>
      <% @user_trips.each do |trip| %>
      <% activity = trip.activities.first %>
      <div class="card-trip">
        <div class="card-trip-infos">
          <div class="index-trip-head">
            <h2><%= link_to trip.trip_name, trip_path(trip, selected_day: 1, selected_time: "Morning") %></h2>
            <p><%= trip.duration %> days</p>
          </div>
          <h2 class="card-trip-pricing"><%= trip.likes %> <i class="fas fa-heart"></i> </h2>
          <img src="<%= asset_path check_photo(activity.photo) %>" class="card-trip-user" />
        </div>
      </div>

      <% end %>
</div>

