<h1>My Trip</h1>

  <div class="trip-container d-flex flex-column justify-content-center">
    <div class="tod-container">
      <div class="trip-logo"><h2>J</h2></div>
      <div class="trip-tod d-flex">
        <% Activity::TOD.each do |time| %>
          <div class="tod-tab"><%= link_to time, trip_path(@trip, selected_time: time, selected_day: @selected_day) %></div>
        <% end %>
      </div>
    </div>

    <div class="trip-content d-flex">
      <div class="trip-days d-flex flex-column">
        <% @trip.trip_duration.each do |day| %>
          <div class="day-tab"><%= link_to day, trip_path(@trip, selected_time: @selected_time, selected_day: day) %></div>
        <% end %>
      </div>
      <div class="day-activity">
        <% if @activity.empty? %>
          <%= "add activity" %>
        <% else %>
          <%= @activity %>
        <% end %>
      </div>
    </div>
  </div>


<div class="thum-btns">
  <i id="thumbs_dwn_btn" class="far fa-thumbs-down"></i>
  <i id="thumbs_up_btn" class="far fa-thumbs-up"></i>
</div>


<%= link_to "Back to profile", user_path(current_user) %>




