<h1>My Trip</h1>

<p></p>
 <ul>
   <% @trip.shortlisted_activities.each do |shortlisted| %>
  <% user = shortlisted.activity.user.username %>
  <li> Added by: <%= link_to user, user_path(user) %></li>
   <li> Activity name:<%=  shortlisted.activity.name %> </li>
   <li> Activity city: <%= shortlisted.activity.city %> </li>
   <li> Activity description:<%=  shortlisted.activity.description %> </li>
   <li> Activity price:<%=  shortlisted.activity.price %> </li>
   <li> Activity rating:<%=  shortlisted.activity.rating %> </li>
   <% end %>

 </ul>



