<div class="container">
  <h1>My Trip</h1>
</div>

  <div class="trip-container d-flex flex-column justify-content-center">
    <div class="tod-container">
      <div class="trip-logo"><h2>J</h2></div>

      <div class="trip-tod d-flex">
        <% Activity::TOD.each do |time| %>
          <div class="tod-tab"><%= link_to time, trip_path(@trip, selected_time: time, selected_day: @selected_day) %></div>
        <% end %>
      </div>

    </div>

    <div class="trip-content d-flex">
      <div class="trip-days d-flex flex-column">
        <% @trip.trip_duration.each do |day| %>
          <div class="day-tab"><%= link_to day, trip_path(@trip, selected_time: @selected_time, selected_day: day) %></div>
        <% end %>
      </div>
      <div class="day-activity">
        <% if @activity.nil? %>
          <%= "add activity" %>
        <% else %>
        <div class="trip-activity-container">
          <div class="trip-name-container"style="background-image: url(<%= asset_path check_photo(@activity) %>)">
            <h2><%= @activity.name %></h2>
            <div class="trip-activity-rating">
              <% if @activity.reviews.empty? %>
                <% 5.times do %>
                  <div class="star">
                    <i class="far fa-star"></i>
                  </div>
                <% end %>
              <% else %>
                <% @activity.reviews.each do |review| %>
                  <% review.rating.to_i.times do %>
                    <div class="star">
                      <i class="fas fa-star"></i>
                    </div>
                  <% end %>
                  <% (5 - review.rating.to_i).times do %>
                    <div class="star">
                      <i class="far fa-star"></i>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="trip-title-container d-flex">
            <h3>What to do!</h3>
          </div>
        </div>
        <div class="trip-activity-description-container">
          <p>
            <%= @activity.description %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </div>

<%= link_to "Back to profile", user_path(current_user) %>

