
<div class="trip-show-container">
  <div class="trip-title d-flex justify-content-center flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("https://res.cloudinary.com/nmozzer/image/upload/v1567498833/trips-show_sna7g4.jpg") %>')">
    <h2>Explore</h2>
    <h1><%= @shortlisted_activities.first.activity.city %></h1>
  </div>

  <% @trip.trip_duration.each do |day| %>
    <% @activity = @shortlisted_activities.where(day: day).first.activity.photo %>
      <div class="day-container mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= @activity %>')">
        <a data-toggle="collapse" href="#collapseExample<%= day %>" role="button" aria-expanded="false" aria-controls="collapseExample">
          <h2>Day <%= day %></h2>
          <h6>click to expand</h6>
        </a>
      </div>

    <% tod_activity_picker(@shortlisted_activities, day).each do |activity| %>
      <div class="collapse" id="collapseExample<%= day %>">
        <div class="card-product">
          <%= cl_image_tag activity.activity.photo %>
          <div class="card-product-infos">
            <h2><%= link_to activity.activity.name, trip_shortlisted_activity_path(@trip, activity) %></h2>
            <div class="icon-container">
              <div class="icon-inner-container d-flex">
                <% activity.activity.categories.each do |category| %>
                  <div class="icon-name-container">
                    <i class="<%= category.icon %>"></i>
                    <p><%= category.name %></p>
                  </div>
                <% end %>
              </div>
                <div class="tod-icon">
                  <%= image_tag(tod_icon_picker(activity)) %>
                </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>


  <div class="button-row">
    <%= link_to like_trip_path(@trip), method: :post, remote: true do %>
      <div>
        <button class="btn btn-warning triplikes"><%= @trip.likes %> <i class="fas fa-heart"></i></button>
      </div>
    <% end %>
  </div>
</div>
