

<div class="all-container">
  <%= link_to "Back to profile", user_path(current_user), class: "btn btn-warning" %>
  <h1 class="text-center trip-head">My Activities</h1>
    <% if @user_activities.nil? %>
      <div class="trip-none">
        <p>You haven't added any activities<p>
        <p>Share your experiences...</p>
        <%= link_to "Add an activity", new_activity_path, class: "btn btn-warning" %>
      </div>
      <div class="trip-image">
      </div>
    <% end %>
</div>

<% current_user.activities.each do |activity| %>
  <h2><%= activity.name %></h2>
  <%= link_to "Edit", edit_activity_path(activity)  %>
  <%= link_to "Delete", activity_path(activity), method: :delete %>
  <%= link_to "Create a review", new_activity_review_url(activity) %>
<% end %>

<br><br>
