<div class="cover-container">
</div>
<div class="all-container">
  <div class="main-container">
    <div class="user-container">
      <div class="photo-container-big">
        <%= cl_image_tag(@user.photo.url) %>
        <% if !@user.nationality.nil? %>
          <p id="country-flag"><%= @user.country_flag %></p>
        <% end %>


      </div>
      <div>
        <h4><%= @user.first_name %> <%= @user.second_name %></h2>
        <p>username: <%= @user.username %></p>
      </div>
    </div>
    <div class="bio-container">
      <p>Bio: <%= @user.bio %></p>
    </div>
  </div>
    <% if @user == current_user %>

      <%= link_to activities_user_path(current_user) do %>
        <div class="boxrow user-link">
          <p>Activities I've added</p>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>

      <%= link_to edit_user_path(current_user) do %>
        <div class="boxrow user-link">
          <p>Edit my profile</p>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>

      <%= link_to destroy_user_session_path, method: :delete do  %>
        <div class="boxrow user-link">
          <p>Log out</p>
          <i class="fas fa-chevron-right"></i>
        </div>
      <% end %>
    <% else %>


        <p> <%= @user.first_name %>'s trips: </p>
          <div class="boxrow user-link-other">



            <% @user.trips.each do |trip| %>
              <%= link_to trip_path(trip) do %>


                <div>
                  <p><%= trip.trip_name %> | <%= trip.duration %> days </p>
                  <p><%= trip.likes %> likes</p>
                </div>



                  <i class="fas fa-chevron-right ours"></i>


              <% end %>
            <% end %>



          </div>


    <% end %>
</div>
