<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "navbar-home" if params[:action] == "home" %>">
  <% if !current_page?(root_path)%>
    <%= link_to root_path, class: "navbar-brand" do %>
      <p class="home-link">jaunt.</p>
    <% end %>
  <% else %>
    <p></p>
  <% end %>

  <% if user_signed_in? %>
    <% if params[:action] == "home" %>
      <%= link_to user_path(current_user) do %>
        <div class="icons nav-link">
          <i class="fas fa-user whiteicon"></i>
        </div>
      <% end %>
    <% end %>

  <% else %>
    <li class="nav-item <%= "nav-item-home" if params[:action] == "home" %>">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>

</div>
