<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <%= simple_form_for :filter, url: activities_path, method: :get do |f| %>
        <%= f.input :place, as: :hidden, input_html: { value: params[:place] } %>
        <%= f.input :days, as: :hidden, input_html: { value: params[:days] } %>

        <div class="modal-body">
          <fieldset class="icon-box">
            <input type="hidden" name="filter[categories][]" value="">
                <div class="category-choices">
                  <% Category.all.each do |category| %>
                    <div class="col-4 each-icon">
                      <input type="checkbox" class="d-none" value="<%= category.id %>" name="filter[categories][]" id="filter_categories_<%= category.id %>">
                      <label class="collection_check_boxes category-choice" for="filter_categories_<%= category.id %>">
                        <i class="<%= category.icon %>" for="filter_categories_<%= category.id %>"></i>
                      </label>
                    </div>
                  <% end %>
                </div>
          </fieldset>
        </div>

        <div class="modal-footer">
          <%= f.button :submit  %>
        </div>
      <% end %>

    </div>

  </div>
</div>
<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/radio_buttons' %>
<% end %>
