  <div class="form-inputs">
    <%= simple_form_for(@activity) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :city %>
    <%= f.input :tod, collection: Activity::TOD %>
    <%= f.input :price %>
    <%= f.submit %>
    <% end %>
  </div>
