
<div class="all-container">

  <% if @activities.length == 1 %>
    <p>Your search returned <%= @activities.length %> activity:</p>
  <% else %>
    <p>Your search returned <%= @activities.length %> activities:</p>
  <% end %>


  <div id="viewport">
    <ul class="stack" id="activity-list">
      <% @activities.each do |activity| %>

        <li id="activity_<%= activity.id %>" data-id="<%= activity.id %>">
          <%= render 'activity', activity: activity %>
        </li>

      <% end %>
    </ul>

    <%= content_for(:after_js) do %>
      <%= javascript_pack_tag 'components/swing' %>
    <% end %>

  </ul>
</div>


<div class="thum-btns">
  <i id="thumbs_dwn_btn" class="far fa-thumbs-down"></i>
    <h4 class="trip-btn"><%= link_to "Plan trip", trips_path(cardIds: params[:cardIds]), method: :post, id:'plan_trip_link', remote: false %></h4>
  <i id="thumbs_up_btn" class="far fa-thumbs-up"></i>
</div>

<%= render 'activities/filter' %>

