<div class="all-container">
  <div class="text-center header-show">
    <h2><%= @activity.name %></h1>
  </div>
  <div class="image-contain">
    <div class="image-show" style="background-image: url(<%= asset_path check_photo(@activity) %>)">
    </div>
  </div>
  <div class="show-rating">
    <div class="show-bold">
      <p>Rating:</p>
    </div>
    <div class="show-bold">
      <p>$<%= @activity.price %></p>
    </div>
  </div>
  <div class="show-bold">
    <p><%= @activity.tod %></p>
  </div>
  <div>
    <p><%= @activity.description %></p>
  </div>
  <div>
    <h4>Who else has done this?</h3>
    <div>

    </div>
  </div>
  <div>
    <h4>Reviews</h4>
  </div>
  <div
    id="map"
    style="width: 100%;
    height: 250px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <div class="thum-vote" id="thumbs-show">
    <%= link_to activities_path(cardIds: params[:cardIds]), id:'dwn_vote' do %>
      <i class="far fa-thumbs-down"></i>
    <% end %>
    <% card_ids = params[:cardIds].present? ? params[:cardIds] << ",#{@activity.id}" : @activity.id %>
    <%= link_to activities_path(cardIds: card_ids), id:'up_vote' do %>
      <i class="far fa-thumbs-up"></i>
    <% end %>
  </div>
</div>

<script>
  button = document.getElementById('up_vote')
  button.addEventListener('click', () => {
    console.log('hi')
    button.style.animation = 'pulse 1s ease'
    setTimeout(() => {
    button.style.animation = ''
    }, 1000)
  })
</script>


