<div class="all-container">
  <div class="text-center header-show">
    <h2><%= @activity.name %></h1>
      <p>Recommended for: <%= @activity.tod %></p>
  </div>
  <div class="image-contain">
    <div class="image-show" style="background-image: url(<%= asset_path check_photo(@activity) %>)">
    </div>
  </div>
  <div class="show-rating">
    <div class="show-bold">
      <% if @activity.reviews.empty? %>
        <% 5.times do %>
          <div class="star">
            <i class="far fa-star"></i>
          </div>
        <% end %>
      <% else %>
        <div class="star">
          <% @activity.averagerating.times do  %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @activity.averagerating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="show-bold">
      <p>$<%= @activity.price %></p>
    </div>
  </div>

  <div class="description">
    <p><%= @activity.description %></p>
  </div>
  <div>
    <h4>Who else has done this?</h3>
    <div class="othertrips">
      <% @activitytrips.each do |shortlistedactivity| %>
        <% trip = Trip.find(shortlistedactivity.trip_id) %>
        <% user = User.find(trip.user_id) %>
          <% if user != current_user %>
            <div class="otherusers">
              <div class="userinfo">
                <%= link_to user_path(user) do %>
                  <div class ="userphoto">
                    <%= user.photo %>
                  </div>
                <% end %>
                <div>
                  <%= user.username %>
                </div>
              </div>
              <%= link_to trip_path(trip) do  %>
              <div class="tripinfo">
                <p><em> <%= trip.trip_name %> </em> </p>
                <div>
                  <%= trip.created_at.day %>/<%= trip.created_at.month %>/<%= trip.created_at.year %>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
  <div>
    <h4>Reviews</h4>

  <div
    id="map"
    style="width: 100%;
    height: 250px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
  <div class="thum-vote" id="thumbs-show">
    <%= link_to activities_path(cardIds: params[:cardIds]) do %>
      <i class="far fa-thumbs-down" id='thumbs_dwn_btn'></i>
    <% end %>
    <% card_ids = params[:cardIds].present? ? params[:cardIds] << ",#{@activity.id}" : @activity.id %>
    <%= link_to activities_path(cardIds: card_ids, days: params[:days]) do %>
      <i class="far fa-thumbs-up" id='thumbs_up_btn'></i>
    <% end %>
  </div>
</div>

<script>
  buttonOne = document.getElementById('thumbs_up_btn')
  buttonOne.addEventListener('click', () => {
    console.log('hi')
    buttonOne.style.animation = 'pulse 1s ease'
    setTimeout(() => {
    buttonOne.style.animation = ''
    }, 1000)
  })

  buttonTwo = document.getElementById('thumbs_dwn_btn')
  buttonTwo.addEventListener('click', () => {
    console.log('hi')
    buttonTwo.style.animation = 'pulse 1s ease'
    setTimeout(() => {
    buttonTwo.style.animation = ''
    }, 1000)
  })
</script>

